[submodule "vendor/github.com/blacked/go-zabbix"]
	path = vendor/github.com/blacked/go-zabbix
	url = https://github.com/blacked/go-zabbix
[submodule "vendor/github.com/docopt/docopt-go"]
	path = vendor/github.com/docopt/docopt-go
	url = https://github.com/docopt/docopt-go
[submodule "vendor/github.com/tomasen/fcgi_client"]
	path = vendor/github.com/tomasen/fcgi_client
	url = https://github.com/tomasen/fcgi_client
